---
layout: layout.liquid
title: Alpine Exercise
---

<button @click="alert(name[0])">Change Name</button>
<h1 x-data="{ name: ['claire', 'chloe', 'arthi', 'varada', 'zach', 'annika', 'sana'] }" x-text="name[0]"></h1>