body {
    font-family: Helvetica, sans-serif;
    color: #EAE8FF;
    background: #2D3142;
    padding: 0 10em;
    text-align: center;
    margin: 5%;
    display: flex;
    justify-content: center;
}

button {
    font-size: 2em;
    padding: 1em;
    cursor: pointer;
    border: 0.1em solid #EAE8FF;
    border-radius: 1em;
    background: rgba(234, 232, 255, 0.3);
    color: #EAE8FF;
}

h1 {
    font-size: 8em;
    letter-spacing: -2px;
}

